DEVELOPMENT = true

POSTMARK_API_KEY = 1b495df1-adf4-480b-8f3a-9597bbcd0742

TO_ADDRESS = support@oktiptop.com
FROM_ADDRESS = support@oktiptop.com

HONEYPOT_NAME = subject

SUBJECT_LINE = "Work Journal Support"